<html>
<body>
  <%= label_tag nil, "Acceso Denegado" %><br/>
  <%= label_tag nil, "Su cuenta está en proceso de Verificacion, cuando haya sido activada por un Administrador podra Iniciar Sesion." %>
</body>
</html>