<div id="formulario">
  <div id="form_eliminar_description">
  <%= form_tag destroy_description_path do%>
    <%= label_tag nil, "Esta seguro que desea eliminar '#{@param_val.param_val_descrip}'"%>
    <%= hidden_field_tag :id, @param_val.id  %>
  <%end%>
  </div>
</div>