<div id="formulario">
  <div id="form_eliminar_canton">
    <%= form_tag destroy_canton_path do%>
      <%= label_tag nil, "Esta seguro que desea eliminar '#{@canton.cant_nombre}'"%>
      <%= hidden_field_tag :id, @canton.id  %>
    <%end%>
  </div>
</div>