<div id="formulario">
  <div id="form_eliminar_role">
  <%= form_tag destroy_role_path do%>
    <%= label_tag nil, "Esta seguro que desea eliminar '#{@role.rol_nombre}'"%>
    <%= hidden_field_tag :id, @role.id  %>
  <%end%>
  </div>
</div>